/obj/windows_visual_studio/Debug_x64/*.obj
/obj/windows_visual_studio/Debug_x64/*.idb
/obj/windows_visual_studio/Debug_x64/*.pdb
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Debug/*.log
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Debug/MM_BigInteger.tlog/*.tlog
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Debug/MM_BigInteger.tlog/*.lastbuildstate
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Debug/MM_BigInteger.tlog/*
/bin/windows_visual_studio/Debug_x64/*.exe
/bin/windows_visual_studio/Debug_x64/*.ilk
/bin/windows_visual_studio/Debug_x64/*.pdb
/obj/windows_visual_studio/Release_x64/*.obj
/obj/windows_visual_studio/Release_x64/*.pdb
/project_settings/windows_visual_studio/MM_BigInteger/Debug/*.txt
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/Debug/*.idb
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Release/*.log
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Release/MM_BigInteger.tlog/*.tlog
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Release/MM_BigInteger.tlog/*.lastbuildstate
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Release/MM_SudokuSolver.tlog/*.tlog
/project_settings/windows_visual_studio/MM_BigInteger/MM_BigInteger/x64/Release/MM_SudokuSolver.tlog/*.lastbuildstate
/project_settings/windows_visual_studio/MM_BigInteger/Release/*.txt
/project_settings/windows_visual_studio/MM_BigInteger/x64/Debug/*.txt
/project_settings/windows_visual_studio/MM_BigInteger/x64/Release/*.txt
/bin/windows_gcc/*.exe
/bin/windows_visual_studio/Release_x64/*.exe
/bin/windows_visual_studio/Release_x64/*.iobj
/bin/windows_visual_studio/Release_x64/*.ipdb
/bin/windows_visual_studio/Release_x64/*.pdb
/obj/windows_gcc/Assert/*.o
/obj/windows_gcc/BigInteger/*.o
/obj/windows_gcc/Logger/*.o
/obj/windows_gcc/*.o
/obj/windows_gcc/Timer/*.o
/obj/windows_gcc/my_math_lib/*.o
unsuccessfulbuild
/project_settings/windows_visual_studio/MM_BigInteger/.vs/*
